@charset "utf-8";
div#DashBoard {width:100%; height:100%;}
div#DashBoard div.count_area {width: 100%; position:relative; overflow:hidden; margin-bottom:10px;}
div#DashBoard div.count_area dl {float:left; width:24%; margin-right:1.333333333333333%; height:115px; border-radius:10px; padding:30px 30px 30px 60px; text-align:left;}
div#DashBoard div.count_area dl dt {font-size:20px; color:#fff; font-weight:400; padding-top:6px;}
div#DashBoard div.count_area dl dd {font-size:18px; color:#fff; font-weight:400; padding-top:10px;}
div#DashBoard div.count_area dl:last-child {margin:0px;}
div#DashBoard div.count_area dl.total_01 {background:url("../images/icon/pie-chart1.png") no-repeat 90% center #00c192; background-size:50px;}
div#DashBoard div.count_area dl.total_02 {background:url("../images/icon/graph.png") no-repeat 90% center #5c6bc0; background-size:60px;}
div#DashBoard div.count_area dl.total_03 {background:url("../images/icon/save-money.png") no-repeat 90% center #03a9f3; background-size:70px;}
div#DashBoard div.count_area dl.total_04 {background:url("../images/icon/money-bag.png") no-repeat 90% center #ad8ce5; background-size:60px;}

div#DashBoard div.table_area {position:relative;overflow:hidden; height:450px;}
div#DashBoard div.table_area div.left {width:70%; margin-right:1%; border-radius:10px; border:1px solid #eaeaec; height:100%; background:#fff; float:left;}
div#DashBoard div.table_area div.right {width:29%; height:100%; float:left;}
div#DashBoard div.table_area div.left dl.table_title {width:100%; overflow:hidden; padding:20px 30px; background:#fff;}
div#DashBoard div.table_area div.left dl.table_title dt {float:left; width:70%; font-size:18px; font-weight:600; line-height:38px;}
div#DashBoard div.table_area div.left dl.table_title dd {float:left; width:30%; text-align:right;}
div#DashBoard div.table_area div.left dl.table_title dd button {background:#6a6cff; border-radius:5px; height:38px; padding:0 30px; color:#fff; font-size:14px;}
div#DashBoard div.table_area div.left table {width:100%; position:relative;}
div#DashBoard div.table_area div.left table th {text-align:center; background:#e9e9f1;}
div#DashBoard div.table_area div.left table td {text-align:center; background:#fff; height:40px; border-bottom:1px solid #eaeaec;}
div#DashBoard div.table_area div.right h2 {font-size:16px;}
div#DashBoard div.table_area div.right div.top {width:100%; background:#fff; height:212px; padding:10px; border-radius:5px; position:relative;}
div#DashBoard div.table_area div.right div.bottom {width:100%; background:#fff; height:212px; padding:10px; border-radius:5px; margin-top:22px;}
div#DashBoard div.etc_layer {position:relative; width:100%; margin-top:20px; overflow:hidden;}
div#DashBoard div.etc_layer h2 {font-size:16px;}
div#DashBoard div.etc_layer div.etc_layer_01 {width:24%; height:170px; background:#fff; border-radius:5px; margin-right:1%; float:left; padding:10px; background:url("../images/icon/dash_icon1.png") no-repeat 90% center #fff;}
div#DashBoard div.etc_layer div.etc_layer_01 dl {padding:20px;}
div#DashBoard div.etc_layer div.etc_layer_01 dl dt {background:url("../images/icon/bbs_icon1.png") no-repeat left top; font-size:20px; font-weight:600; padding-top:55px;}
div#DashBoard div.etc_layer div.etc_layer_01 dl dt a {font-size:20px; font-weight:600;}
div#DashBoard div.etc_layer div.etc_layer_01 dl dt a:hover {text-decoration:underline;}
div#DashBoard div.etc_layer div.etc_layer_01 dl dd {margin-top:10px; opacity:0.5;}
div#DashBoard div.etc_layer div.etc_layer_02 {width:24%; height:170px; background:#fff; border-radius:5px; margin-right:1%; float:left; padding:10px; background:url("../images/icon/dash_icon2.png") no-repeat 90% center #fff;}
div#DashBoard div.etc_layer div.etc_layer_02 dl {padding:20px;}
div#DashBoard div.etc_layer div.etc_layer_02 dl dt {background:url("../images/icon/bbs_icon2.png") no-repeat left top; font-size:20px; font-weight:600; padding-top:55px;}
div#DashBoard div.etc_layer div.etc_layer_02 dl dt a {font-size:20px; font-weight:600;}
div#DashBoard div.etc_layer div.etc_layer_02 dl dt a:hover {text-decoration:underline;}
div#DashBoard div.etc_layer div.etc_layer_02 dl dd {margin-top:10px; opacity:0.5;}

div#DashBoard div.etc_layer div.etc_layer_03 {width:50%; height:170px; background:#fff; border-radius:5px; float:left; padding:10px;}
div#DashBoard div.etc_layer div.etc_layer_03 ul {margin-top:30px; overflow:hidden;}
div#DashBoard div.etc_layer div.etc_layer_03 ul li {overflow:hidden; width:104px; height:86px; float:left; border:1px solid #f5f6f8; border-radius:5px; margin-right:18px;}
div#DashBoard div.etc_layer div.etc_layer_03 ul li:nth-child(7n) {margin-right:0px;}
#myChart {margin-top:-8px;}

#DashBoardPopUp {background:url("../images/opa_bg.png") repeat; position:fixed; top:0px; left:0px; width:100%; height:100%; display:none;}
#DashBoardPopUp div.dashboard_layer {width:680px; height:440px; position:absolute; background:#fff; left:50%; top:50%; margin-left:-340px; margin-top:-220px; border-top:2px solid #0086ff; padding:20px;}
#DashBoardPopUp div.dashboard_layer h2 {font-size:18px; font-weight:600; margin-bottom:20px;}
#DashBoardPopUp div.dashboard_layer table {width:100%; border-top:2px solid #00929c;}
#DashBoardPopUp div.dashboard_layer table th {background:#f9f9f9; border-bottom:1px solid #e0e0e0; font-size:13px; font-weight:600; padding:10px;}
#DashBoardPopUp div.dashboard_layer table td {background:#fff; border:1px solid #e0e0e0; font-size:13px; font-weight:600;}
#DashBoardPopUp div.dashboard_layer table tr td:last-child {border-right:0px;}
#DashBoardPopUp div.dashboard_layer p {font-weight:600; line-height:1.5; margin-top:10px; text-indent:-10px; padding-left:10px;}
#DashBoardPopUp div.dashboard_layer div.req_btn {text-align:center; margin-top:10px;}

.link-box {
    display: flex;
    gap: 20px; /* 박스 간 간격 */
    justify-content: left;
    margin-top: 20px;
    margin-left: 15px;
}

.box {
    text-align: center;
    background: white;
    border-radius: 12px;
    padding: 20px;
    width: 135px;
    height: 100px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: black;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease-in-out;
}

.box:hover {
    transform: translateY(-1px);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}

.box img {
    width: 102px;  /* 이미지 크기 조절 */
    height: auto;
    margin-bottom: 5px;
}