@charset "utf-8";

/* CSS Document */
@import url("../fonts/S-Core-Dream-light/s-core-dream.css");
* {margin:0px; padding:0px; box-sizing: border-box; font-weight:400; font-size:12px; font-family: "s-core-dream-light";}
body, html {width:100%; height: 100%; position: relative; overflow: hidden;}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1; /* background: #535d68; */}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {	content: '';	content: none;}
table {	border-collapse: collapse;	border-spacing: 0;}
html,body{height: 100%;margin:0; font-size:12px;}
ol, ul{list-style:none;padding:0}
a{text-decoration:none;color:#000;}
a:hover,
a:active,
a:focus{text-decoration:none;}
img{border:none;}
form{width:100%; height:100%; position:relative;}

textarea{ font-size:15px; resize:none;}
figure{margin:0;padding:0;text-align:center}
input[type='search']{border:none}
label{cursor:pointer}
h1{/*font-size:1.2em;*/font-weight:bold}
h2{/*font-size:1.1em;*/ font-weight:bold}
h3{/*font-size:1.0em;*/ font-weight:bold}
/*h4{font-size:1.0em}
p{font-size:1.0em;}
*/
button{border:none;cursor:pointer; vertical-align:top; background:none;}
input:disabled	{
	background:#cdcdcd !important;
}
button:disabled	{
	background:#aaa !important; 
	color:#ddd !important; 
	border:1px solid #999 !important;
}
.loading{background:url('/image/indicator.gif') no-repeat 50% 0; text-align:center; font-size:1.1em; margin:20px 0; padding-top:30px; color:#999}
.on{display:block}
.off{display:none}

input[readonly] {background-color:#e7e7e7; -webkit-box-shadow: 0 0 0px 1000px #e7e7e7 inset !important;}
input[readonly].date {background-image: url(../images/icon/date_icon.png); background-repeat: no-repeat; background-position: 93% center; padding-right: 30px; background-color: #e7e7e7 !important; -webkit-box-shadow: none !important;}
select.read {background-color:#e7e7e7 !important;}
select option { font-size: 13px;}
input[type="checkbox"] {display:none;}
input[type="checkbox"] + label {color:#333333;}
input[type="checkbox"] + label.wh {color:#ffffff; font-weight:300;}
input[type="checkbox"] + label.wh > span {position: relative; display: inline-block; width:18px; height:18px; background:url("../images/icon/id_icon_wh_off.png") no-repeat; vertical-align: middle; margin-right:5px; cursor:pointer;}
input[type="checkbox"] + label > span {position: relative; display: inline-block; width:18px; height:18px; background:url("../images/icon/id_icon_off.png") no-repeat; vertical-align: top; margin-right:5px; cursor:pointer;}
input[type="checkbox"]:checked + label > span {background:url("../images/icon/id_icon_on_04.png") no-repeat;}
/*button{border:none;color:#fff; padding:7px; font-weight:bold; cursor:pointer;border-radius:7px; font-family:;}
button a{color:#fff}*/
.btnContainer{text-align:center; margin-top:7px;}
.btnContainer a{display:inline-block}
.button_1{padding:3px 7px; background-color:#999;}			
.button_2{padding:7px 20px; background-color:#3f3e40;  color:#d3d3d3; border:1px solid #333; border-radius:5px}
.button_2 a{color:#fff; display:block}
.button_3{padding:5px; background-color:#3f3e40; border-radius:0; margin:0}
.button_4{padding:5px; background-color:#999; margin-left:5px; color:#fff}			
.button_5{font-size:.9em; border:1px solid #dedede; padding:7px 10px; border-radius:3px; display:inline-block; background-color:#666; color:#fff; font-weight:bold; cursor:pointer}			

button + button{margin-left: 5px;}

/* font size */
.ft-fa1 {font-size:100%;}
.ft-fa2 {font-size:88%;}
.ft-fa3 {font-size:75%;}
.ft-fa4 {font-size:69%;}

/* default */
.border-box {box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; -o-box-sizing:border-box;}

.no_type{margin:0;padding:0;list-style:none}
.border_box{box-sizing:border-box;-webkit-box-sizing:border-box;-o-box-sizing:border-box;-moz-box-sizing:border-box;}
.blind{position: absolute !important;top:-1000px;visibility:hidden;}
.word_break{word-break:break-all;word-wrap:break-word}
.textOverflow{display:block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}

/* 1 */
.errBox{text-align:center;background-color:#f3f3f3;margin:0;padding:20px;}
.errBox p.msg {font-size:1.2em; font-weight:bold; margin-bottom:10px;}
.errBox .button a{display:block; color:#fff}
.textBar{padding:10px;text-align:center;color:#fff;font-weight:bold;border-top:1px solid #dedede;cursor:pointer}

.textBar p{font-size:.9em; margin:0;}
.margin_top_4{margin-top:4px !important}
.margin_top_5{margin-top:5px !important}
.margin_top_10{margin-top:10px !important}
.margin_top_15{margin-top:15px !important}
.border_top_none{border-top:0 !important}

.margin_bottom_5{margin-bottom:5px !important}
.margin_bottom_10{margin-bottom:10px !important}
.margin_bottom_15{margin-bottom:15px !important}

.padding_bottom_0{padding-bottom:0 !important}
.padding_bottom_5{padding-bottom:5px !important}
.padding_bottom_10{padding-bottom:10px !important}
.padding_bottom_15{padding-bottom:15px !important}

.padding_10{padding:10px}

.clear{clear:both}

.ui-loader{display:none}

.hiddenElement{display:none}
.hiddenText{text-indent:-10000px; height:0; line-height:0;}
.fLayer{z-index:102000}

.formRow{background-color:#eee; border:1px solid #dedede; padding:0 10px}
.formRow > li{padding:10px 0;border-bottom:1px solid #dedede}
.formRow.big > li{padding:15px 0}
.formRow > li:last-child{border:0}

.formColumn{overflow:hidden;}
.formColumn .field, .formColumn .value{float:left}
.formColumn .field{width:30%; font-weight:bold;}
.formColumn .field.block{width:100%; font-weight:bold; margin:5px 0}

.formColumn .tip{display:block; width:100%; font-size:.9em; color:#777; margin:0}
.formColumn .tip strong{font-weight:bold; text-decoration:underline}

.formColumn .value{width:70%}
.formColumn .value.block{width:100%; margin:5px 0}
.formColumn .value input[type="text"],.formRow .value select{display:inline-block; width:100%; padding:2px; margin:0; box-sizing:border-box;}
.formColumn .value fieldset{border:1px solid #ddd; margin-bottom:10px; padding:15px;}
.formColumn .value fieldset legend{padding:0 5px}
.formColumn .value fieldset strong{display:block; margin:5px}

.textButton{color:blue; fontloading-weight:bold; cursor:pointer}

#onLoadingContainer{z-index:100; position:absolute !important; top:0  !important; left:0 !important; width:100%; height:100%;}
#onLoadingText, #complteText{z-index:500; width:350px; height:50px; line-height:50px; top: calc(50% - 25px); left: calc(50% - 175px); position:fixed; color:#000; text-align:center; font-size:18px; font-weight:bold; background-color:#000; color:#fff; padding:0 10px}
#complteText{z-index:700;}
#onLoadingText i{transform:rotateZ(0deg);}

#skipNavi {position: absolute;margin: 0 auto;width: 100%;list-style: none;font-size: 1.15em;top: -10.5em;left: 0;z-index: 99999;}
#skipNavi a:active, #skipNavi a:focus {position: absolute;padding-top: 0.5em;width: 100%;height: 2em;top: 10.5em;/* left: 0; */text-align: center;color: #000;font-weight:bold;/* text-decoration: underline;*/background: #fff;border: 1px solid #475470;outline: 0;}

#top-wrap{min-height: 100%;height: 100%;}
.top-wrap-bg{background: #2C2E37;}

#body_wrap,
.body_wrap{min-height: 100%;height: 100%;min-width: 1640px;}


.fl_right{float: right !important;}
.fl_left{float: left !important;}

.clearfix::before, .clearfix::after{content: ""; display:block; clear:both;}
.clearfix::after{clear:both;}


/* =====  input ===== */
input,select{border-radius: 3px;background: #fff;border: solid 1px rgba(0, 0, 0, 0.25);padding:5px;font-weight: 300; font-size:12px; -webkit-box-sizing:border-box;box-sizing:border-box;-moz-box-sizing:border-box; vertical-align:middle;}
input[type="text"]	{vertical-align:top;border-radius: 3px;}
input:focus,select:focus,textarea:focus { outline: 1px solid #f48025; }
input[type="radio"]+label, input[type="checkbox"]+label{font-size: 14px; vertical-align: top; margin-right:10px;}
input[type="radio"]:focus, input[type="checkbox"]:focus{outline: none;}
/*input[type="checkbox"]+label{font-family: Dotum;}*/

select {border-radius: 3px;padding-left: 10px;padding-right: 30px;-webkit-appearance: none;-moz-appearance: none;appearance: none;background: #fff url('../images/sel_down.png') no-repeat 100% 50%;}
select option{height: 30px;}
select::-ms-expand { display: none;}

input[type="text"]:disabled {background:#d0d0d0;}

input.agree_chk[type=checkbox]{display: none!important;}
input.agree_chk[type=checkbox] + label {background:#f9f9f9 url(../images/checkbox.png) no-repeat 0 0; background-size:19px; display: inline-block; border:solid 1px #b1b1b1; height: 19px; width: 19px; cursor:pointer;}
input.agree_chk[type=checkbox]:checked + label {background:#f9f9f9 url(../images/checkbox_v.png) no-repeat 0 0; background-size:19px;}
textarea.reply{background: #f5f5f5; width:90%; height:80px; padding:20px 20px; border:1px solid #c4c6cb; padding:5px;}

/* =====  table ===== */
table{width: 100%;font-size: 13px;}
table caption{text-indent: -9999em;}
table tr{ text-align: left; }
table tr th{padding:5px 8px; font-weight: 300; vertical-align: middle;}
table tr td{padding:5px 8px; font-weight: 300; vertical-align: middle;}
table tr td .tb_info{background: url(../images/dot.png) no-repeat left; padding-left: 12px; margin-top: 10px;}


*:focus { outline: none !important; }

/*버튼 다운로드 아이콘*/
.download {background: url("../images/icon/download_icon.png") no-repeat 93% center; padding-right: 30px;}
input[readonly] {background-color:#e7e7e7; -webkit-box-shadow: 0 0 0px 1000px #e7e7e7 inset !important;}
input[readonly].date {background-image: url(../images/icon/date_icon.png); background-repeat: no-repeat; background-position: 93% center; padding-right: 30px; background-color: #fff !important; -webkit-box-shadow: none !important; width:120px !important;}

#ClientCodes label {margin-right:15px; margin-bottom:10px; display:inline-block;}